[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
xmltodict = "*"
sqlalchemy = "*"
flask = "*"
autopep8 = "*"
lxml = "*"
elasticsearch = "*"
urllib3 = "*"
pandas = "*"
tqdm = "*"
tinydb = "*"

[dev-packages]

[requires]
python_version = "3.8"
